.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  overflow: hidden;
}

.post__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.post__header .user {
  display: flex;
  align-items: center;
}

.post__header .user__thumb {
  height: 40px;
  margin-right: 8px;
	border: 2px solid rgba(255,255,255,.2);
  width: 40px;
}

.post__header .user__name {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.post__context {
  font-size: 1.4rem;
}

.post__figure {
  border-radius: 10px;
  height: auto;
  margin: 0;
  overflow: hidden;
  width: 100%;
  @media screen and (max-width: 728px) {
    border-radius: 0;
  }
}

.post__figure img {
  width: 100%;
}

.post {
	background-color: #101010;
	border-radius: 10px;
	border: 2px solid rgba(255,255,255,.05);
	margin-bottom: 2em;
	color: #fafafa;
}

.post__info {
	padding: .4em 1.2em;
}

.post__info div {
  padding: .4em 0;
}

.post__buttons {
  cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.post__buttons__left {
	width: 100px;
	display: flex;
	justify-content: space-between;
}

.post__buttons__left button {
  // only for the like button
	padding: 0;
}

.post__button {
	font-size: 20px;
}

.post__likes {
	font-size: 14px;
}

.post__description {
	font-size: 14px;
}

.post__comments {
  font-size: 14px;
  opacity: .5;
}

.post__timestamp {
  font-size: 10px;
  margin-bottom: 10px;
}